.form-Header {
    font-size: 30px;
    color: white;
    font-family: vani Bold;
    text-align: center;
    background-color: #343a40 !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 70px;
}

.adminform {
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 2px 0px 10px rgb(128, 128, 128);
    top: 100px;
    border-radius: 3%;
}

.alert {

    border-color: red;
}

.red-text {
    color: red;
}

.form-contain {

    padding: 20px;
}

.register {
    align-content: center;
}